* {
    padding: 0;
    margin: 0;
}


#jumbo {
    margin-top: -19px;
}


.clear {
    clear: both;
}


.home-bg {
    background-image: url("images/joe-shillington-240205.jpg");
    background-size: cover;
    height: 100vh;
    margin-top: -20px;
}
