* {
    padding: 0;
    margin: 0;
}

/*
body {
    background-image: url("images/joe-shillington-240205.jpg");
}
*/

.clear {
    clear: both;
}


.home-bg {
    background-image: url("images/joe-shillington-240205.jpg");
    background-size: cover;
    /*
    width: 100vw;
    height: 100vh;
*/
}
